body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(226, 155, 62);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;    
    align-items: center;
    height: 90vh;
}
.container{
    text-align: center;
    background: linear-gradient(135deg,#00feba, #5b5481);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.search-box{
        margin-bottom: 20px;
        border-radius: 20px;
}

#city-input{
        padding: 10px;
        font-size: 16px;
        border-radius: 20px;
        border: 1px solid #ead17f;
}
#get-weather{
    padding: 10px 10px;
    font: 16px;
    border: none;
    border-radius: 5px;
    background-color: rgb(236, 241, 231);
    color: black;
    cursor:pointer;
}
#weather-details{
    margin-top: 20px;

}
#weather-details p{
    font-size: 35px;
}
